<div class="container">
<h1>Список направления подготовки</h1>

<table class="table">
<thead>
    <tr>
        <th>#Подготовки</th>
        <th>Название направления подготовки</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </tr>
</thead>
<tbody>
    {{#each discipline}}
    <tr>
        <td>{{id_direction}}</td>
        <td><a href="/groups/{{id_direction}}">{{name_direction}}</a></td>
        <td><a href="/directions/edit/{{id_direction}}">Изменить</a></td>
        <td><a href="/directions/delete/{{id_direction}}">Удалить</a></td>
    </tr>
    {{/each}}
</tbody>
</table>
<a href="/directions/add" class="btn btn-primary">Добавить</a>
</div>