<div class="container">
    <h1>Список студентов</h1>

    <table class="table">
    <thead>
        <tr>
            <th>#билета</th>
            <th>#группы</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Пол</th>
            <th>Дата Рождения</th>
            <th>Дата выдачи билета</th>
            <!--th>Признак старосты</th-->
            <th>изменить</th>
            <th>удалить</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{id}}</td>
            <td>{{id_group}}</td>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{lastname}}</td>
            <td>{{gender}}</td>
            <td>{{birthday}}</td>
            <td>{{get_card}}</td>
            <!--td>{{is_head}}</td-->
            <td><a href="/students/edit/{{id}}">Изменить</a></td>
            <td><a href="/students/delete/{{id}}">Удалить</a></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    <a href="/students/add" class="btn btn-primary">Добавить</a>
    <a href="./" class="btn btn-primary">Назад</a>
</div>